---
- identifier: node-deploy-tools
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-undeploy-tools
    success_nodes:
      - identifier: node-deploy-applications
  unified_job_template:
    name: Deploy-Tools
    type: job_template
- identifier: node-deploy-applications
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-undeploy-applications
    success_nodes:
      - identifier: node-install-recorders
  unified_job_template:
    name: Deploy-Applications
    type: job_template
- identifier: node-install-recorders
  extra_data:
    scenario_id: {{ scenario_id }}
    benchmark_phase: pre-fault-injection
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-uninstall-recorders
    success_nodes:
      - identifier: node-clear-kubernetes-events
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-clear-kubernetes-events
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-uninstall-recorders
    success_nodes:
      - identifier: node-pause-at-start
  unified_job_template:
    name: Clear-Kubernetes-Events
    type: job_template
- identifier: node-pause-at-start
  extra_data:
    duration_in_minutes: 2
  related:
    success_nodes:
      - identifier: node-grant-access-to-agent
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-grant-access-to-agent
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-inject-fault
  unified_job_template:
    name: Grant-Access-To-Agent
    type: job_template
- identifier: node-inject-fault
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-install-run-topology-recorder-post-fault-injection
  unified_job_template:
    name: Inject-Faults
    type: job_template
- identifier: node-install-run-topology-recorder-post-fault-injection
  extra_data:
    benchmark_phase: post-fault-injection
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-pause-post-fault-injection
  unified_job_template:
    name: Run-Topology-Data-Recorder
    type: job_template
- identifier: node-pause-post-fault-injection
  extra_data:
    duration_in_minutes: 2
  related:
    success_nodes:
      - identifier: node-check-for-alerts
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-check-for-alerts
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-handover-to-agent
  unified_job_template:
    name: Check-for-Alerts
    type: job_template
- identifier: node-handover-to-agent
  related:
{% if requires_aws_credentials %}
    credentials:
      - name: AWS
{% endif %}
    always_nodes:
      - identifier: node-install-unified-clickhouse-recorder
  unified_job_template:
    name: Handover-To-Agent
    type: job_template
- identifier: node-install-unified-clickhouse-recorder
  related:
    always_nodes:
      - identifier: node-remove-access-from-agent
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Run-Unified-ClickHouse-Recorder
    type: job_template
- identifier: node-remove-access-from-agent
  related:
    always_nodes:
      - identifier: node-uninstall-recorders
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Remove-Access-From-Agent
    type: job_template
- identifier: node-uninstall-recorders
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    always_nodes:
      - identifier: node-remove-fault
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Uninstall-Data-Recorders
    type: job_template
- identifier: node-remove-fault
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    always_nodes:
      - identifier: node-undeploy-applications
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Remove-Faults
    type: job_template
- identifier: node-undeploy-applications
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    always_nodes:
      - identifier: node-undeploy-tools
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Undeploy-Applications
    type: job_template
- identifier: node-undeploy-tools
  extra_data:
    scenario_id: {{ scenario_id }}
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Undeploy-Tools
    type: job_template
