---
cluster:
  kubernetes:
    version: 1.32.11
  networking:
    mode: cilium
  nodes:
    control:
      count: 1
      instance_type: m5.xlarge
    worker:
      count: 3
      instance_type: m5.2xlarge
