---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app.kubernetes.io/name: kubernetes-topology-recorder
    app.kubernetes.io/part-of: it-bench
  name: kubernetes-topology-recorder
spec:
  template:
    metadata:
      annotations:
        openshift.io/required-scc: restricted-v2
      labels:
        app.kubernetes.io/name: kubernetes-topology-recorder
        app.kubernetes.io/part-of: it-bench
    spec:
      containers:
        - name: recorder
          image: registry.access.redhat.com/ubi10/python-312-minimal:10.1-1772469338
          command:
            - /bin/sh
          args:
            - -c
            - "python3.12 -m pip install -r ~/deps/requirements.txt && python3.12 ~/scripts/gather.py"
          env:
            - name: KUBERNETES_TOPOLOGY_MONITOR_ENDPOINT
              value: [[ tools_kubernetes_topology_monitor_endpoint.http ]]
            - name: FILENAME_ANNOTATION
              value: [[ recorders_awx_topology_filename_prefix | default("") ]]
          resources:
            requests:
              cpu: 100m
              memory: 125Mi
            limits:
              memory: 250Mi
          volumeMounts:
            - name: dependencies
              mountPath: /opt/app-root/src/deps
              readOnly: true
            - name: scripts
              mountPath: /opt/app-root/src/scripts
              readOnly: true
            - name: records
              mountPath: /opt/app-root/src/records
      restartPolicy: Never
      securityContext:
        fsGroup: 1001
      volumes:
        - name: scripts
          configMap:
            name: topology-recorder-kubernetes-scripts
            items:
              - key: script
                path: gather.py
        - name: dependencies
          configMap:
            name: topology-recorder-kubernetes-scripts
            items:
              - key: deps
                path: requirements.txt
        - name: records
          persistentVolumeClaim:
            claimName: kubernetes-topology-records
  ttlSecondsAfterFinished: 10
