---
- identifier: node-handback-from-agent
  related:
    always_nodes:
      - identifier: node-remove-access-from-agent
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Handback-From-Agent
    type: job_template
- identifier: node-remove-access-from-agent
  related:
    always_nodes:
      - identifier: node-install-run-topology-recorder-post-agent-execution
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Remove-Access-From-Agent
    type: job_template
- identifier: node-install-run-topology-recorder-post-agent-execution
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
    benchmark_phase: post-agent-execution
  related:
    always_nodes:
      - identifier: node-pause-post-agent-execution
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-pause-post-agent-execution
  related:
    always_nodes:
      - identifier: node-uninstall-recorders
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-uninstall-recorders
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    always_nodes:
      - identifier: node-remove-fault
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Uninstall-Data-Recorders
    type: job_template
- identifier: node-remove-fault
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    always_nodes:
      - identifier: node-undeploy-applications
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Remove-Faults
    type: job_template
- identifier: node-undeploy-applications
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Undeploy-Applications
    type: job_template
