---
- identifier: node-deploy-tools
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-deploy-applications
  unified_job_template:
    name: Deploy-Tools
    type: job_template
- identifier: node-deploy-applications
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-install-recorders
  unified_job_template:
    name: Deploy-Applications
    type: job_template
- identifier: node-install-recorders
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
    benchmark_phase: pre-fault-injection
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-clear-kubernetes-events
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-clear-kubernetes-events
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-pause-at-start
  unified_job_template:
    name: Clear-Kubernetes-Events
    type: job_template
- identifier: node-pause-at-start
  related:
    success_nodes:
      - identifier: node-grant-access-to-agent
  unified_job_template:
    name: Pause
    type: job_template
  extra_data:
    duration_in_minutes: 5
- identifier: node-grant-access-to-agent
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-inject-fault
  unified_job_template:
    name: Grant-Access-To-Agent
    type: job_template
- identifier: node-inject-fault
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-install-run-topology-recorder-post-fault-injection
  unified_job_template:
    name: Inject-Faults
    type: job_template
- identifier: node-install-run-topology-recorder-post-fault-injection
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
    benchmark_phase: post-fault-injection
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-pause-post-fault-injection
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-pause-post-fault-injection
  related:
    success_nodes:
      - identifier: node-check-for-alerts
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-check-for-alerts
  related:
    credentials: {{ workflow_configuration[1][1] }}
    success_nodes:
      - identifier: node-handover-to-agent
    failure_nodes:
      - identifier: node-install-unified-clickhouse-recorder
  unified_job_template:
    name: Check-for-Alerts
    type: job_template
- identifier: node-handover-to-agent
  related:
    always_nodes:
      - identifier: node-install-unified-clickhouse-recorder
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Handover-To-Agent
    type: job_template
- identifier: node-install-unified-clickhouse-recorder
  related:
    always_nodes:
      - identifier: node-uninstall-recorders
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-uninstall-recorders
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Uninstall-Data-Recorders
    type: job_template
