---
- identifier: node-deploy-tools
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-undeploy-tools
    success_nodes:
      - identifier: node-deploy-applications
  unified_job_template:
    name: Deploy-Tools
    type: job_template
- identifier: node-deploy-applications
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-undeploy-applications
    success_nodes:
      - identifier: node-install-recorders
  unified_job_template:
    name: Deploy-Applications
    type: job_template
- identifier: node-install-recorders
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
    benchmark_phase: pre-fault-injection
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-uninstall-recorders
    success_nodes:
      - identifier: node-clear-kubernetes-events
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-clear-kubernetes-events
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-uninstall-recorders
    success_nodes:
      - identifier: node-pause-at-start
  unified_job_template:
    name: Clear-Kubernetes-Events
    type: job_template
- identifier: node-pause-at-start
  extra_data:
    duration_in_minutes: 2
  related:
    success_nodes:
      - identifier: node-grant-access-to-agent
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-grant-access-to-agent
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-inject-fault
  unified_job_template:
    name: Grant-Access-To-Agent
    type: job_template
- identifier: node-inject-fault
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-install-run-topology-recorder-post-fault-injection
  unified_job_template:
    name: Inject-Faults
    type: job_template
- identifier: node-install-run-topology-recorder-post-fault-injection
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
    benchmark_phase: post-fault-injection
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-pause-post-fault-injection
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-pause-post-fault-injection
  extra_data:
    duration_in_minutes: 2
  related:
    success_nodes:
      - identifier: node-check-for-alerts
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-check-for-alerts
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-handover-to-agent
  unified_job_template:
    name: Check-for-Alerts
    type: job_template
- identifier: node-handover-to-agent
  related:
    credentials: {{ workflow_configuration[1][1] }}
    failure_nodes:
      - identifier: node-remove-access-from-agent
    success_nodes:
      - identifier: node-run-agent
  unified_job_template:
    name: Handover-To-Agent
    type: job_template
- identifier: node-run-agent
  related:
    always_nodes:
      - identifier: node-handback-from-agent
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Run-Agent
    type: job_template
- identifier: node-handback-from-agent
  related:
    always_nodes:
      - identifier: node-remove-access-from-agent
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Handback-From-Agent
    type: job_template
- identifier: node-remove-access-from-agent
  related:
    always_nodes:
      - identifier: node-install-run-topology-recorder-post-agent-execution
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Remove-Access-From-Agent
    type: job_template
- identifier: node-install-run-topology-recorder-post-agent-execution
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
    benchmark_phase: post-agent-execution
  related:
    always_nodes:
      - identifier: node-pause-post-agent-execution
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-pause-post-agent-execution
  extra_data:
    duration_in_minutes: 10
  related:
    always_nodes:
      - identifier: node-install-unified-clickhouse-recorder
  unified_job_template:
    name: Pause
    type: job_template
- identifier: node-install-unified-clickhouse-recorder
  extra_data:
    scenario_id: {{ workflow_configuration[1][0] }}
  related:
    always_nodes:
      - identifier: node-uninstall-recorders
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
- identifier: node-uninstall-recorders
  related:
    always_nodes:
      - identifier: node-remove-fault
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Uninstall-Data-Recorders
    type: job_template
- identifier: node-remove-fault
  related:
    always_nodes:
      - identifier: node-undeploy-applications
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Remove-Faults
    type: job_template
- identifier: node-undeploy-applications
  related:
    always_nodes:
      - identifier: node-undeploy-tools
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Undeploy-Applications
    type: job_template
- identifier: node-undeploy-tools
  related:
    credentials: {{ workflow_configuration[1][1] }}
  unified_job_template:
    name: Undeploy-Tools
    type: job_template
