{# Delimiters are changed to keep Prometheus templating. #}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: otel-demo-alerting-rules
  namespace: [[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]
spec:
  groups:

    - name: opentelemetrydemo.workloads
      rules:
        - alert: FailedPodsDetected
          expr: |
            sum by (namespace) (
              kube_pod_status_phase{
                namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]",
                phase="Failed"
              }
            ) > 0
          for: 2m
          labels:
            severity: critical
          annotations:
            description: "Pods in failed state in namespace {{ $labels.namespace }} is above 0 (current: {{ $value }})"
    - name: opentelemetrydemo.frontend.goldensignal
      rules:
        - alert: HighRequestLatency
          expr: |
            histogram_quantile(
              0.95,
              sum (
                rate(
                  traces_span_metrics_duration_milliseconds_bucket{
                    service_name=~"frontend|frontend-proxy",
                    namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                  }[2m]
                )
              ) by(le, service_name, namespace)
            )
            > 1500
          for: 3m
          labels:
            severity: critical
          annotations:
            description: "Latency in service {{ $labels.service_name }} in namespace {{ $labels.namespace }} is above 1500ms (current: {{ $value }}s)"
        - alert: HighRequestErrorRate
          expr: |
            sum (
              rate(
                traces_span_metrics_calls_total{
                  service_name=~"frontend|frontend-proxy",
                  status_code="STATUS_CODE_ERROR",
                  namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                }[2m]
              )
            ) by (service_name, namespace)
            > 0
          for: 3m
          labels:
            severity: critical
          annotations:
            description: "Request error rate in service {{ $labels.service_name }} in namespace {{ $labels.namespace }} is above 3 (current: {{ $value }})"
    - name: opentelemetrydemo.backend.goldensignal
      rules:
        - alert: HighRequestLatency
          expr: |
            histogram_quantile(
              0.95,
              sum (
                rate(
                  traces_span_metrics_duration_milliseconds_bucket{
                    service_name!~"flagd|load-generator|frontend*",
                    namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                  }[2m]
                )
              ) by(le, service_name, namespace)
            )
            > 1500
          for: 3m
          labels:
            severity: critical
          annotations:
            description: "Latency in service {{ $labels.service_name }} in namespace {{ $labels.namespace }} is above 15000ms (current: {{ $value }}s)"
        - alert: HighRequestErrorRate
          expr: |
            sum (
              rate(
                traces_span_metrics_calls_total{
                  service_name!~"flagd|load-generator|frontend|frontend-proxy",
                  status_code="STATUS_CODE_ERROR",
                  namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                }[2m]
              )
            ) by (service_name, namespace)
            > 0
          for: 3m
          labels:
            severity: critical
          annotations:
            description: "Request error rate in service {{ $labels.service_name }} in namespace {{ $labels.namespace }} is above 1 (current: {{ $value }})"
    - name: opentelemetrydemo.kafka
      rules:
        - alert: KafkaConsumerGroupInactive
          expr: |
            kafka_consumer_group_members{
              namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
            } == 0
          for: 2m
          labels:
            severity: critical
          annotations:
            description: "Kafka consumer group {{ $labels.consumergroup }} in namespace {{ $labels.namespace }} has no active members (current: {{ $value }})"
        - alert: HighKafkaConnectionClosureRate
          expr: |
            sum by (job) (
              rate(
                kafka_consumer_connection_close_rate{
                  namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                }[2m]
              )
            ) > 0
          for: 1m
          labels:
            severity: warning
          annotations:
            description: "Job {{ $labels.job }} has a closure rate above 0 (current: {{ $value }})"
        - alert: HighKafkaConsumerLag
          expr: |
            kafka_consumer_group_lag_sum_ratio{
              namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
            } > 100
          for: 5m
          labels:
            severity: warning
          annotations:
            description: "Kafka consumer group {{ $labels.consumergroup }} has high lag on topic {{ $labels.topic }} (current: {{ $value }} messages)"
    - name: opentelemetrydemo.requests
      rules:
        - alert: NoRequestsReceived
          expr: |
            sum (
              rate(
                traces_span_metrics_calls_total{
                  service_name!~"flagd|load-generator",
                  status_code=~"STATUS_CODE_UNSET|STATUS_CODE_OK",
                  namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                }[5m]
              )
            ) by (service_name, namespace)
            == 0
          for: 5m
          labels:
            severity: critical
          annotations:
            description: "Service {{ $labels.service_name }} in namespace {{ $labels.namespace }} has received no requests"
    - name: opentelemetrydemo.database
      rules:
        - alert: NoDatabaseOperations
          expr: |
            sum by (service_name, namespace) (
              rate(
                traces_span_metrics_calls_total{
                  service_name="accounting",
                  span_name="postgresql",
                  span_kind="SPAN_KIND_CLIENT",
                  namespace="[[ applications_managers.opentelemetry_demo.kubernetes.namespace ]]"
                }[5m]
              )
            ) == 0
          for: 5m
          labels:
            severity: warning
          annotations:
            description: "Service {{ $labels.service_name }} in namespace {{ $labels.namespace }} has stopped performing database operations"
    # - name: opentelemetry_demo.cost
    #   interval: 1m
    #   rules:
    #     - alert: CPUSpedn
    #       expr: sum by (namespace) (container_namespace_node:container_cpu_allocation_cost_per_node:avg5m{container!="load-generator", namespace="otel-demo"}) > 3
    #       for: 1m
    #       labels:
    #         severity: warning
    #       annotations:
    #         description: "{{ $labels.namespace }} has exceeded the allocated budget for vCPU for 5m (current: ${{ $value }})"
    #     - alert: MemorySpend
    #       expr: sum by (namespace) (container_namespace_node:container_memory_allocation_gigabytes_cost_per_node:avg5m{container!="load-generator", namespace="otel-demo"}) > 9
    #       for: 1m
    #       labels:
    #         severity: warning
    #       annotations:
    #         description: "{{ $labels.namespace }} has exceeded the allocated budget for RAM for 5m (current: ${{ $value }})"
    # - name: opentelemetry_demo.efficency
    #   interval: 1m
    #   rules:
    #     - alert: CPUEfficiency
    #       expr: round(avg by (container, namespace) (container_namespace:container_cpu_usage_seconds_per_requests:ratio_irate1m{container!="load-generator", namespace="otel-demo"}) * 100) < 65
    #       for: 2m
    #       labels:
    #         severity: info
    #       annotations:
    #         description: "{{ $labels.container }} in {{ $labels.namespace }} has a cpu efficiency below 65% for 5m (current: {{ $value }}%)"
    #     - alert: MemoryEfficiency
    #       expr: round(avg by (container, namespace) (container_namespace:container_memory_working_set_bytes_per_requests_bytes:ratio_avg1m{container!~"load-generator|flagd-ui", namespace="otel-demo"}) * 100) < 75
    #       for: 2m
    #       labels:
    #         severity: info
    #       annotations:
    #         description: "{{ $labels.container }} in {{ $labels.namespace }} has a memory efficiency below 75% for 5m (current: {{ $value }}%)"
