---
github:
  agent:
    branch: main
    # ssh:
    #   private_key_passphrase: ""
    #   private_key_path: ""
    url: https://github.com/itbench-hub/ITBench-SRE-Agent.git
  itbench:
    branch: main
    # ssh:
    #   private_key_passphrase: ""
    #   private_key_path: ""
    url: https://github.com/itbench-hub/ITBench.git
